<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/layout :: titulo">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Clientes</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    
    <div th:replace="fragmentos/header :: header"></div>

    <h1>Perfil de Cliente</h1>
    
    <div>
        <p><strong>Nombre de Usuario:</strong> <span th:text="${cliente.nombreUsuario}"></span></p>
        <p><strong>Correo Electronico:</strong> <span th:text="${cliente.email}"></span></p>
        <p><strong>Cedula:</strong> <span th:text="${cliente.cedula}"></span></p>
        <p><strong>Domicilio:</strong> <span th:text="${cliente.domicilio}"></span></p>
        <p><strong>Teléfono:</strong> <span th:text="${cliente.telefono}"></span></p>
    </div>

    <h2>¿Qué desea realizar?</h2>
    <div>
        <a th:href="@{/clientes/editar}">Editar Cuenta</a><br>
        <a th:href="@{/clientes/eliminar}">Eliminar Cuenta</a>
        
    </div>


    <div th:replace="fragmentos/footer :: footer"></div>

</body>
</html>